<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Untree.co">
	<link rel="shortcut icon" href="favicon.png">

	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap5" />

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap" rel="stylesheet">


	<link rel="stylesheet" href="~/web/fonts/icomoon/style.css">
	<link rel="stylesheet" href="~/web/fonts/flaticon/font/flaticon.css">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

	<link rel="stylesheet" href="~/web/css/tiny-slider.css">
	<link rel="stylesheet" href="~/web/css/aos.css">
	<link rel="stylesheet" href="~/web/css/glightbox.min.css">
	<link rel="stylesheet" href="~/web/css/style.css">

	<link rel="stylesheet" href="~/web/css/flatpickr.min.css">


	<title>@ViewData["Title"]</title>
</head>
<body>
	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>
	<partial name="_Navbar"></partial>
	<!-- Start posts-entry -->
	<section class="section posts-entry posts-entry-sm bg-light">
		<div class="container">
			@RenderBody()
		</div>
	</section>
	<!-- End posts-entry -->
	<footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="widget">
						<h3 class="mb-4">Haqqında</h3>
						<p>Çox uzaqlarda, söz dağlarının arxasında, Vokaliya və Konsonantiya ölkələrindən uzaqda, kor mətnlər yaşayır.</p>

					</div>
					<div class="widget">
						<h3>Social</h3>
						<ul class="list-unstyled social">
							<li><a href="#"><span class="icon-instagram"></span></a></li>
							<li><a href="#"><span class="icon-twitter"></span></a></li>
							<li><a href="#"><span class="icon-facebook"></span></a></li>
							<li><a href="#"><span class="icon-linkedin"></span></a></li>
							<li><a href="#"><span class="icon-pinterest"></span></a></li>
							<li><a href="#"><span class="icon-dribbble"></span></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 ps-lg-5">
					<div class="widget">
						<h3 class="mb-4">Şirkət</h3>
						<ul class="list-unstyled float-start links">
							<li><a href="#">Haqqımızda</a></li>
							<li><a href="#">Xidmətlər</a></li>
							<li><a href="#">Baxış</a></li>
						</ul>
						<ul class="list-unstyled float-start links">
							<li><a href="#">Tərəfdaşlar</a></li>
							<li><a href="#">Biznes</a></li>
							<li><a href="#">Karyera</a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="widget">
						<h3 class="mb-4">Son Paylaşım Yazısı</h3>
						<div class="post-entry-footer">
							<ul>
								<li>
									<a href="">
										<img src="~/web/images/img_1_sq.jpg" alt="Şəkil yer tutucu" class="me-4 rounded">
										<div class="text">
											<h4>Kişilər üçün Corab və Səndəl Geyinməyin Yeni və Maraqlı Bir Yolu</h4>
											<div class="post-meta">
												<span class="mr-2">15 Mart 2018</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="">
										<img src="~/web/images/img_2_sq.jpg" alt="Şəkil yer tutucu" class="me-4 rounded">
										<div class="text">
											<h4>Kişilər üçün Corab və Səndəl Geyinməyin Yeni və Maraqlı Bir Yolu</h4>
											<div class="post-meta">
												<span class="mr-2">15 Mart 2018</span>
											</div>
										</div>
									</a>
								</li>
							</ul>

						</div>
					</div>
				</div>
			</div>
		</div> <!-- /.container -->
	</footer> <!-- /.site-footer -->
	<!-- Preloader -->
	<div id="overlayer"></div>
	<div class="loader">
		<div class="spinner-border text-primary" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>


	<script src="~/web/js/bootstrap.bundle.min.js"></script>
	<script src="~/web/js/tiny-slider.js"></script>

	<script src="~/web/js/flatpickr.min.js"></script>


	<script src="~/web/js/aos.js"></script>
	<script src="~/web/js/glightbox.min.js"></script>
	<script src="~/web/js/navbar.js"></script>
	<script src="~/web/js/counter.js"></script>
	<script src="~/web/js/custom.js"></script>
	@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
