
<nav class="site-nav">
	<div class="container">
		<div class="menu-bg-wrap">
			<div class="site-navigation">
				<div class="row g-0 align-items-center">
					<div class="col-2">
						<a href="/" class="logo m-0 float-start">BlogAz<span class="text-primary">.</span></a>
					</div>
					<div class="col-8 text-center">

						<ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu mx-auto">
							<li class="active"><a href="/">Əsas Səhifə</a></li>
							<li class="has-children">
								<a href="category.html">Səhifələr</a>
								<ul class="dropdown">
									<li><a href="#">Axtarış Nəticəsi</a></li>
									<li><a href="/Blog/Index">Bloqlar</a></li>
								</ul>
							</li>
							<li><a href="#">Mədəniyyət</a></li>
							<li><a href="#">Biznes</a></li>
							<li><a href="/Admin/Auth/Login">Panelə daxil ol</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>
