@using BlogAz.Application.DTOs.Categories
@model CategoryDto

<div class="form-group">
    <label for="categoryTitle">Kateqoriya başlığı</label>
    <input type="text" class="form-control" id="categoryTitle" name="Title" data-id="@Model.Id" value="@Model.Name" placeholder="Kateqoriya başlığını daxil edin">
</div>