@using System.Globalization
@model BlogAz.Application.DTOs.Blogs.BlogDto
@{
	ViewData["Title"] = "Bloglar";
}

<div class="row blog-entries element-animate">
	<div class="col-md-12 col-lg-8 main-content">
		<div class="post-content-body">
			<div class="row my-4">
				<div class="col-md-12 mb-4">
					<img src="~/Blog/Images/@Model.ImageName" alt="@Model.Title" class="img-fluid rounded">
				</div>
			</div>
			<p>@Html.Raw(Model.Content)</p>
		</div>
	</div>
	<div class="col-md-12 col-lg-4 sidebar">
		<div class="d-flex mb-3 service-alt">
			<div>
				<span class="bi-calendar-date me-4"></span>
			</div>
			<div>
				<h3>
					Nəşr tarixi
				</h3>
				<p>@Model.CreatedAt.ToString("dd MMMM yyyy", new CultureInfo("az-AZ"))</p>
			</div>
		</div>
		<div class="d-flex mb-3 service-alt">
			<div>
				<span class="bi-menu-button-wide-fill me-4"></span>
			</div>
			<div>
				<h3>
					Kateqoriyalar
				</h3>
				<ul class="tags">
					@foreach (var item in Model.Categories)
					{
						<li><a href="#">@item.Name</a></li>
					}
				</ul>
			</div>
		</div>

	</div>
</div>