@{
    ViewBag.Title = "Dashboard";
    ViewBag.Selected = "Dashboard";
}

<div class="row">
    <div class="col-md-6 mb-4">
        <div class="card shadow-sm h-100">
            <div class="card-body text-center">
                <h3 class="card-title">Bloqları idarə edin</h3>
                <p class="card-text">Bloq yazılarınızı asanlıqla yaradın, redaktə edin və təşkilatlandırın.</p>
                <a href="/admin/blog/index" class="btn btn-primary">Bloqlara keçid edin</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card shadow-sm h-100">
            <div class="card-body text-center">
                <h3 class="card-title">Kateqoriyaları idarə edin</h3>
                <p class="card-text">Məzmununuzu asanlıqla kateqoriyalara təşkilatlandırın.</p>
                <a href="/admin/category/index" class="btn btn-primary">Kateqoriyalara keçid edin</a>
            </div>
        </div>
    </div>
</div>